<template>
    <div v-if="itemList.length"class="list">
        <ItemAirport class="list__head" :info="headerTable" :language="language"></ItemAirport>
        <div v-for="value in itemList" >
            <ItemAirport :info="value.airport" :language="language"></ItemAirport>
        </div>
    </div>
    <div v-else class="nosing">
        <img src="../../img/airplane2.png">
    </div>
</template>

<script>

    import ItemAirport from './ItemAirport.vue'

    export default {
        name: "ItemView",
        props:["itemList", "language"],
        components:{
            ItemAirport
        },
        data () {
            return {
                headerTable:{
                    shortName:{texts:{en: 'Airport', de: 'Flughafen'}},
                    city:{texts:{en: 'City', de: 'Stadt'}},
                        iataCode: 'IATA code',
                        major: "Major"
                }
            }
        }
    }
</script>

<style lang="less">
    .nosing{
        position: absolute;
        top: 50%;
        left: 45%;
        opacity: 0.3;
    }
    .list{
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }
    .list__head{
        border-bottom: 1px solid grey;
        font-size: 18px;
        color: grey;
    }
</style>