<template>
    <div class="item">
        <span class="item__cell">{{info.shortName.texts[language.toLowerCase()]}}</span>
        <span class="item__cell">{{info.city.texts[[language.toLowerCase()]]}}</span>
        <span class="item__cell">{{info.iataCode}}</span>
        <span class="item__cell">{{info.major}}</span>
    </div>
</template>

<script>
    export default {
        name: "ItemAirport",
        props:["info", "language"]
    }
</script>

<style lang="less">
    .item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
    }
    .item__cell{
        flex: 1 1 200px;
    }
</style>