<template>
    <div >
        <select class="select-dropdown" v-bind:selected="selected" v-on:input="$emit('input', $event.target.value)">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        name: "Language",
        props:["selected", "options"]
    }
</script>

<style lang="less">

    @font_family_1: "roboto";
    @background_color_1: #fff;
    @background_color_2: transparent;

    .select-dropdown {
        background-color: @background_color_1;
        font-family: @font_family_1;
        border: 1px solid #a0a0a0;
        padding: 0.6rem 2rem 0.6rem 1rem;
        border-radius: 5px;
        outline: none;
        &:focus {
            transition: 0.5s;
            border-color: blue;
        }
        select {
            font-family: @font_family_1;
            font-size: 1rem;
            font-weight: 200;
            max-width: 100%;

            border: 1px solid darkgrey;;
            background-color: @background_color_2;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:active {
                outline: none;
                box-shadow: none;
            }
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

    }

</style>