<template>
    <div>
        <div class="header">
            <span>Airport-Searcher</span>
            <img class="header__img" src="../img/airplane.png">
        </div>
        <div class="toolbar">
            <Search v-model="message" @requested="changeItemList"></Search>
            <Language v-model="selected" :options="options"></Language>
        </div>
        <ItemView :itemList="itemList" :language="selected"></ItemView>
    </div>
</template>

<script>
    import Language from './components/Language.vue'
    import Search from './components/Search.vue'
    import ItemView from './components/ItemView.vue'

    export default {
        components:{
            Language,
            Search,
            ItemView
        },
        data () {
            return {
                selected: 'EN',
                options: [
                    {text: 'English', value: 'EN'},
                    {text: 'Deutsch', value: 'DE'}
                ],
                message: '',
                itemList: []
            }
        },
        methods:{
            changeItemList (value) {
               this.itemList = value ? value : this.itemList;

            },
            changeMessage: function(message){
                this.message = message
            }
        }
    }
</script>

<style lang="less">
    body{
        margin: 0;
        padding: 0;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 2em;
        margin: auto 0;
        background-image: linear-gradient(#7f8aff, skyblue);
        font-size: 70px;
        color: white;
        padding: 0 10px;
    }
    .header__img{
        max-width: 300px;
        min-width: 100px;
    }
    .toolbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
        background: skyblue;
    }

</style>
